input{
	border-radius: 30px;
	minlength="4" 
	maxlength="8" 
	size="30"
}
select{
	border-radius: 30px;
	minlength="4" 
	maxlength="8" 
	size="30"
}
textarea{
		background: white;
		border: 2px solid red;
}
textarea:focus{
	border: 2px solid green;
	background:white;
}